.ChooseSearch {
    background: rgb(175, 175, 175);
    border-top: 2px solid rgb(163, 163, 163);
    border-bottom: 2px solid rgb(163, 163, 163);
    min-height: 150px;
    display: flex;
    justify-content: center;
}

.ChooseSearch > div {
    display: flex;
    align-items: center;
}

.ChooseSearch > div > p {
    color: rgb(235, 235, 235);
    text-align: center;
    background: rgb(153, 153, 153);
    margin: 20px;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 3px;
}