.PresentInfo {
    background: rgb(144, 144, 144);
    margin: 0 auto;
    padding: 25px;
    max-width: 700px;
    border-radius: 4px;
    margin-top: 40px;
}

.PresentInfo > h1 {
    color: rgb(211, 211, 211);
    text-align: center;
    font-size: 30px;
}

.PresentInfo > h3 {
    color: rgb(214, 214, 214);
    margin-top: 20px;
    font-size: 16px;
}

.PresentInfo > h1 > span {
    color: white;
}

.PresentInfo > div {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    background: rgb(102, 102, 102);
    min-width: 280px;
    gap: 3px;
    margin: 20px 20px 10px 20px;
}

@media screen and (max-width: 550px) {
    .PresentInfo > div {
        min-width: 100%;
    }
}

.PresentInfo > div {
    display: grid;
    background: rgb(102, 102, 102);
    gap: 3px;
}

.PresentInfo > div > h4 {
    color: rgb(73, 73, 73);
    background: rgb(109, 109, 109);
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.PresentInfo > div > div {
    text-align: center;
    padding: 20px;
    background-color: rgb(124, 124, 124);
    cursor: pointer;
}

#cityPopulation {
    display: unset;
    min-width: 150px;
    background: rgb(102, 102, 102);
    margin-top: 10px;
}

#cityPopulation > p {
    text-align: center;
    padding: 20px;
    background-color: rgb(124, 124, 124);
}

#clickedCity {
    font-size: 20px;
}

#clickedCity > p:nth-child(1) {
    color: rgb(221, 221, 221);
}