@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    font-family: 'Secular One', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(199, 199, 199);
}